[Unit]
Description=Exoskeleton TCN Inference Server
After=network.target

[Service]
ExecStart=/home/dylan-exo/ml_stuff/exoskeleton-ai/.venv/bin/uvicorn scripts.server:app --host 0.0.0.0 --port 8000
WorkingDirectory=/home/dylan-exo/ml_stuff/exoskeleton-ai
Restart=on-failure
User=dylan-exo

[Install]
WantedBy=multi-user.target
